/* note:: link to below of the custom css */
/* 
@media screen{

}

@media print{

}
*/


body{
    color: blue;
}

.print-btn{
    display: none;
}

.pagebreak{
    page-break-after: always;
}

.header{
    position: static;
}

@page{
    size: Legal;

    margin: 0;
}